body{
    padding: 25px;
    height: 400px;
    width:200px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 150px;
    background-color: purple;
    color:white;
    
}
h1{
    background-color: rgb(150,100,50);

}